* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden ;
}

.yun-text{
    position: relative;
    width: 227px;
    height: 80px;
    left: 105px;
    top: -5px;

    font-family: "Crete Round";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 122px;

    color: #2E3AA9;;
}

.pharmacy-text{

    position: absolute;
    width: 182px;
    height: 51px;
    left: 151px;
    top: 90px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    /* identical to box height */
    
    
    color: #2E3AA9;;
}

.home-button{
    position: absolute;
    width: 107px;
    height: 51px;
    left: 1200px;
    top: 61px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 51px;
    /* identical to box height */
    
    
    color: #2E3AA9;;
}

.services-button{
    position: absolute;
    width: 144px;
    height: 51px;
    left: 1400px;
    top: 61px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 51px;
    /* identical to box height */
    
    
    color: #2E3AA9;;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.btn{

    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    transition: all .2s;
    
    position: relative;
    width: 200px;
    height: 60px;
    left: 1590px;
    top: -65px;
    
    background: rgba(255, 166, 0, 0.6);
    border-radius: 30px;
}

.btn.contact-yellow::after{
    content: "contact";
    position: absolute;
    width: 100%;
    font-family: "Poppins";
    font-weight: bold;
    font-style: normal;
    font-weight: 1000;
    font-size: 30px;
    line-height: 1;

}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.3)


}
.btn:active{
    transform: translateY(-1px);
}

.btn-white{
    background-color: white;
    color: #777;
}



.contact-button{
    position: absolute;
    
    height: 51px;
    left: 1600px;
    top: 61px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    
    
    color: #2E3AA9;
}


.border-top{  
    position: absolute;
    width: 1919px;
    height: 4px;
    left: 0px;
    top: 167px;
    
    background: #000000;
}

.border-bottom{
    position: absolute;
    width: 1919px;
    height: 4px;
    left: 0px;
    top: 261px;
    
    background: #000000;
}

.covid-info{
    position: absolute;
    width: 1919px;
    height: 92px;
    left: 0px;
    top: 169px;
    
    background: rgba(255, 166, 0, 0.6);
}

.covid-text{
    position: absolute;
    width: 688px;
    height: 51px;
    left: 400px;
    top: 20px;
    
    font-family: "Crete Round";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    /* identical to box height */
    
    
    color: #000000;
}

.btn-2{


    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    transition: all .5s;

    position: relative;
    width: 240px;
    height: 60px;
    left: 1190px;
    top: 15px;

    background: rgba(255, 255, 255,0.9);
    border-radius: 30px;
}

.btn-2.click-button:after{
    content: "Click Here";
    position: absolute;
    width: 100%;
    color: (black);
    font-family: "Poppins";
    font-weight: bold;
    font-style: normal;
    font-weight: 1500;
    font-size: 30px;
    line-height: 1;
}

.btn-2:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.3)


}
.btn-2:active{
    transform: translateY(-1px);
}

.img-kids{
    box-sizing: border-box;

    &::before{
        content: '';
        position: absolute;
        width: 1919px;
        height: 510px;
        left: 0px;
        top: 265px;
        background-image: linear-gradient(
            to bottom,
            rgba(160,160,160,0.7),
            rgba(64,64,64,0.7)),
            url(/img/2kids.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;
    }   
}
.img-header{
    position: absolute;
    width: 499px;
    height: 436px;
    left: 380px;
    top: 852px;
    
    background: url(/img/header.jpg);
    border-radius: 71px;    
}

.header-text{
    position: absolute;
    width: 462px;
    height: 164px;
    left: 984px;
    top: 858px;
    
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 82px;
    
    color: #2E3AA9;
}
.header-desc{
    position: absolute;
    width: 594px;
    height: 204px;
    left: 984px;
    top: 1050px;
    
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    
    color: #000000;
}
.banner-text{
    position: absolute;
    text-align: center;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    color: white;
    
}

.feel{
    position: absolute;
    font-family: 'Crete Round';
    width: 1160px;
    height: 22px;
    left: -150px;
    top: 80px;
    font-size: 96px;
    line-height: 12px;   
    
}

.happy-healthy{
    position: absolute;
    text-transform: uppercase;
    width: 1102px;
    height: 130px;
    left: 280px;
    top: 130px;
    font-size: 96px;
    line-height: 122px;
    
}

.banner-desc{
    position: absolute;
    width: 966px;
    height: 164px;
    left: 330px;
    top: 340px;
    font-size: 64px;
    line-height: 82px;
}

.btn-header{
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    transition: all .5s;
    position: relative;
    width: 240px;
    height: 60px;
    left: 1090px;
    top: 950px;

    background: rgba(46, 58, 169,0.5);
    border-radius: 30px;
}
.btn-header.learn-more:after{
    content: "Learn More";
    position: absolute;
    width: 100%;
    text-decoration-color: (white);
    font-family: "Crete Round";
    font-weight: bold;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
}
.btn-header:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.3)


}
.btn-header:active{
    transform: translateY(-1px);
}

.yellow-triangle{
    position: absolute;
    width: 104px;
    height: 176px;
    left: 1770px;
    top: 982px;
	border-top: 125px solid transparent;
	border-right: 150px solid #FFA600;
	border-bottom: 125px solid transparent;   
}

.border{
    position: absolute;
    width: 1919px;
    height: 4px;
    left: 0px;
    top: 1400px;
    
    background: #000000;
}
.help-splitter{
    position: absolute;
    width: 960px;
    height: 916px;
    left: 0px;
    top: 1404px;

    background: rgba(46, 58, 169, 0.6);
}
.help-header{
    position: relative;
    width: 513px;
    height: 82px;
    left: 150px;
    top: 48px;

    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 82px;
    /* identical to box height */


    color: #F5F5F5;
}

ul{
    list-style: circle;
    position: relative;

    width: 519px;
    height: 281px;
    left: 150px;
    top: 100px;

    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 82px;

    
    color: #FFFFFF;
}

li{
    margin: 50px 0;
  }


.other-header{
    position: absolute;
    width: 670px;
    height: 446px;
    left: 1110px;
    top: 1614px;
    
    background: url(/img/otherheader.jpg);
    border-radius: 71px;    
}

.border-help{
    position: absolute;
    width: 1919px;
    height: 4px;
    left: 0px;
    top: 2320px;
    
    background: #000000;    
}

.yellow-header{
    position: absolute;
    width: 1920px;
    height: 748px;
    left: 0px;
    top: 2324px;

    background: rgba(255, 166, 0, 0.6);
}
.heading-bottom{
    position: relative;
    width: 1212px;
    height: 82px;
    left: 350px;
    top: 50px;

    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 82px;
    /* identical to box height */


    color: #2E3AA9;
}
.hours-header{
    position: relative;
    width: 370px;
    height: 247px;
    left: 94px;
    top: 91px;
    
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    
    color: #000000;
}
.hours-of-op{
    list-style: none;
    position: relative;
    width: 600px;
    height: 247px;
    left: 94px;
    top: 1px;
    
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    margin: 0px 0;
    
    color: #000000;

}

/* responsive website */
@media only screen and (max-width:700px){

}